<mat-sidenav-container class="min-h-screen">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="p-4">
        <mat-nav-list class="space-y-2">
            <a mat-list-item routerLink="home" routerLinkActive="active">Home</a>
            <a mat-list-item routerLink="blog-list" routerLinkActive="active">Blogs</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar>            
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        <div class="p-4">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>